:root {
    --main-red: #e50914;
    --dark-bg: #141414;
    --card-bg: #1f1f1f;
    --text-white: #ffffff;
    --text-gray: #b3b3b3;
}

body {
    margin: 0; font-family: sans-serif; background: var(--dark-bg); color: white;
}

header {
    background: #000; padding: 15px; display: flex; justify-content: space-between;
    align-items: center; position: fixed; top: 0; width: 100%; z-index: 1000;
    box-sizing: border-box; border-bottom: 1px solid #222;
}

.bar { width: 25px; height: 3px; background: white; margin: 4px 0; border-radius: 2px; }

main { margin-top: 70px; }

.container { padding: 20px; max-width: 600px; margin: 0 auto; }

/* MENU */
.side-menu {
    height: 100%; width: 0; position: fixed; z-index: 2000; top: 0; left: 0;
    background: #000; overflow-x: hidden; transition: 0.3s; padding-top: 20px;
}
.side-menu a { padding: 15px 25px; text-decoration: none; color: var(--text-gray); display: block; }

/* FORMULARIO */
.input-group { margin-bottom: 15px; }
.input-group label { display: block; font-size: 13px; color: #888; margin-bottom: 5px; }
.input-group input, .custom-select {
    width: 100%; padding: 12px; background: #222; border: 1px solid #333;
    color: white; border-radius: 8px; box-sizing: border-box;
}
.grid-2 { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; }

/* BOTONES */
.btn-save { border: none; padding: 15px; border-radius: 10px; font-weight: bold; cursor: pointer; }
.bg-red { background: var(--main-red); color: white; width: 100%; }
.bg-green { background: #28a745; color: white; }
.bg-yellow { background: #ffc107; color: black; }

/* TABS Y BUSCADOR */
#buscador { margin-bottom: 15px; }
.tabs { display: flex; gap: 5px; margin-bottom: 15px; }
.tab-btn { flex: 1; padding: 10px; background: #222; color: #888; border: none; border-radius: 5px; }
.tab-btn.active { background: var(--main-red); color: white; }

/* CARDS */
.grid-peliculas { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; }
.card-peli { background: var(--card-bg); border-radius: 10px; overflow: hidden; position: relative; }
.img-peli { width: 100%; height: 230px; object-fit: cover; }

/* PERSONAS */
.persona-card { background: #1a1a1a; padding: 15px; border-radius: 15px; margin-bottom: 20px; }
.persona-header { display: flex; align-items: center; gap: 15px; margin-bottom: 15px; }
.persona-img { width: 60px; height: 60px; border-radius: 50%; object-fit: cover; border: 2px solid var(--main-red); }
.persona-pelis { display: flex; gap: 8px; overflow-x: auto; padding-bottom: 10px; }
.mini-portada { width: 60px; height: 90px; border-radius: 5px; flex-shrink: 0; object-fit: cover; }

/* MODAL */
.modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9); z-index: 5000; justify-content: center; align-items: center; }
.modal img { max-width: 90%; max-height: 80%; }
